<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Declare photo data collection -->
    <key>NSPrivacyCollectedDataTypes</key>
    <array>
        <dict>
            <key>NSPrivacyDataType</key>
            <string>NSPrivacyCollectedDataTypePhotos</string>
            <key>NSPrivacyPurpose</key>
            <string>To save generated QR codes to your Photos library.</string>
        </dict>
    </array>
    
    <!-- Declare no tracking -->
    <key>NSPrivacyTracking</key>
    <false/>
</dict>
</plist>
